@font-face {
    font-family: nintendo_NTLG;
    src: url(/assets/nintendo_NTLG.woff),
    url(/assets/nintendo_NTLG.woff2);
}
@font-face {
    font-family: nintendo_DS;
    src: url(/assets/nintendo_DS.woff),
    url(/assets/nintendo_NTLG.woff2)
}

@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css");

body {
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: nintendo_NTLG;
    font-size: 16px;

    font-weight: normal !important;
}

.container {
    text-align: center;

    background-color: #FFFFFF40;
    padding: 3%;
    border-radius:10px;  

    width:580px;
    height:300px;
    left:50%;
    top:40%;
    transform:translate(-50%,-50%);
    position:absolute;

    box-shadow: 0px 0px 10px rgb(60, 60, 60);
}