@charset "UTF-8";

/***********************************************************
style.css
***********************************************************/

/*==========================================================
reset
==========================================================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
h1,h2,h3,h4,
div,p,ul,li,a {
    font-weight: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    height: 100%;
}

#contents_wrapper h2 {
    border: none;
}

.bt_nodisp {
        display: none;
}






/*==========================================================
contents
==========================================================*/
html {
/*  width: 100vw;
    height: 100vh;*/
    background: #00B9EF;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 1.5;


}

#all_container {
    width: 100%;
    height: auto !important;
    min-height: 100%;
    padding-top: 0px;
    margin: 0 auto;
    background: transparent;
    /*overflow: hidden;*/
    /*background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/earth.png) center 740px no-repeat;*/
    /*background-size: 1101px auto;*/
}


#all_container:after {
    position: fixed;
    z-index: -1;
    bottom: -380px;
    content: "";
    display: block;
    width: 100%;
    height: auto !important;
    min-height: 100%;
    padding-top: 0px;
    margin: 0 auto;
    background: transparent;
    background: url(/assets/maitea/earth.png) center 0px no-repeat;
    background-size: 1101px 1140px;
    /*animation:earth 50s linear infinite;*/
    will-change:transform;
}

@keyframes earth{
    0%{transform:rotate(0deg)}to{transform:rotate(1turn)}
}

#all_container:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 100%;
    height: 707px;
    margin: 0 auto;
    padding: 0;
    background-image: url(/assets/maitea/dot_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0;
}


h1 {
    display: none;
}

.content_box {
    /*position: relative;*/
    margin: 0px auto 0px auto;
    width: 100%;
    border: none;
    width: 100%;
    height: 115%;
    padding: 5px;
    margin: 10px auto 0;
    background-color: #fff;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 6px #51bcf3, inset 0 0 0 10px #fff100, 0 4px 0 1px #ccc, 0 0 10px 2px hsla(0,0%,40%,.5);
    border-radius: 20px;
    color: #fff;
    z-index: 0;
}

.content_box h3 {
    position: relative;
    display: block;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 15px auto ;
    text-indent: 3em;
    padding: 10px 5px;
    background: linear-gradient(90deg,transparent,#ff6b5f 10%,#ff6b5f 90%,transparent);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 3px #000;
}
.content_box h3:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: auto;
    right: auto;
    width: 98%;
    height: 100%;
    font-size: 20px;
    margin: 0 auto;
/*    border-top: 1px dashed #fff799;
    border-bottom: 1px dashed #fff799;
*/}
/*.content_box h3:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    width: 100px;
    height: 60px;
    margin: 0 auto;
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/starRight.png) center no-repeat;
    background-size: contain;
    z-index: 15;
}
*/

.game_title_box_en h3,
.game_title_en {
    display: none;
}

#language {
    z-index: 9999;
}

.game_title_box.mb_20 p.tx_r.mt_5,
.game_title_box_en.mb_20 p.tx_r.mt_5 {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}

.content_box .contents {
    color: #000;
}

.country{
    visibility: hidden;
    margin-top: -50px;
}


@media only screen and (min-width: 449px) {

    #language {
        position: absolute;
        top: -60px;
        right: 0;
        margin: 0;
    }

    #all_container {
        position: relative;
        min-width: 680px;
        height: auto;
        margin: 0 auto;
    }


    #contents_wrapper {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0px auto!important;
        width: 100%;
        height: auto;
        padding: 1px;
    }

    #main_contents {
        width: 100%;
        min-width: 320px;
        height: auto!important;
        margin: -320px auto 0px auto!important;
        padding: 0px 0px 20px 0px;
        position: relative;
        z-index:100;
    }

    #sub_menu {
        display: none;
    }
    #sub_menu a,
    .tx_red {
        color: #fff;
    }


    /*ヘッダー-----------*/

    header {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 207px;
        pointer-events: none;
        border: none;
    }

    h2 {
        position: relative;
        z-index: 0;
        margin: 170px auto 0px;
        width: 500px;
        height: 29px;
        background-size: contain;
        color: transparent;
        font-size: 0;
        pointer-events: none;
        border: none;

    }

    /*ゲームタイトル枠-------------*/

    .game_title_box,
    .game_title_box_en {
        width: 100%;
        text-align: right;
    }

    .game_title_box p a,
    .game_title_box_en p a{
        display: block;
        margin: 20px auto 0px auto!important;
        background: #f56d00;
        padding: 3px 15px;
        border-radius: 30px;
        border: solid 3px #f7b83f;
        color: #ffffff;
        box-shadow: 0px 2px 1px 1px rgb(175, 78, 0);
    }

    /*緑枠-------------*/

    .content_box {
        width: 680px;
    }
/*  .content_box::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

    }*/
    .content_box.mb_20 {
/*      border: none!important;
        background: transparent;*/
    }




    .content_box .contents {
        padding: 15px 10px;
        padding-left: 30px;
        padding-right: 30px;
        /*background: linear-gradient( 90deg, #fff9e8 50%, #fffcf4 50% );*/
        background-size: 8px auto;
        color: #000;
    }

    /*注意事項-----------*/

    #attention_box {
        padding: 15px 15px;
        margin: 0px auto 30px auto!important;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
        width: 100%;
    }

    /*フッターー-----------*/

    footer {
        height: auto;
        position: inherit;
        z-index: 10;
    }

    #footer_link {
        margin: 0px auto 20px auto!important;
        padding: 50px 15px 20px 0px;
        box-sizing: border-box;
        width: 552px;
        min-width: 100%;
        max-width: 680px;
        text-align: right!important;
        position: inherit;
    }
    #footer_link p {
        display: block;
        width: 552px!important;
        margin: 0px auto 0px auto;
        width: 110px;
        margin-left: auto;
        text-align: right!important;
}

    #footer_link p a {
        color: #fff;
        padding-left: 15px;
        background-size: 10px;
    }

    #footer_link p a:hover {
        color: #ff7575;
    }

    #copy_right {
        position: relative;
        margin-top: 10px;
        font-size: 12px;
        color: #000;
        height: 60px;
        background-color: #fff;
    }
    #copy_right:before {
        display: block;
        position: absolute;
        content: "";
        top: -75px;
        width: 100%;
        height: 80px;
        pointer-events: none;
        background-image: url("/assets/maitea/footer_cloud1.png"),url("/assets/maitea/footer_cloud2.png"),url("/assets/maitea/footer_cloud3.png");
        background-repeat: no-repeat,no-repeat,no-repeat;
        background-position: 0 100%,100% 100%,bottom;
        background-size: 200px 80px,200px 80px,calc(100% - 400px) 80px;
    }

    #copy_right p {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 0 0 20px;
        text-align: center;
    }

}




/*SP*/
@media only screen and (max-width: 450px) {
    #main_contents,
    #contents_wrapper {
        position: static;
    }
    .game_title_box .tx_r,
    .game_title_box_en .tx_r {
        margin-top: 60px;
    }
    #language {
        position: absolute;
        top: 5px;
        right: 5px;
        margin: 0;
    }
    /*.game_title_box_en.mb_20 {
        margin-bottom: 0;
    }*/

    .game_title_box.mb_20 p.tx_r.mt_5,
    .game_title_box_en.mb_20 p.tx_r.mt_5 {
        display: block;
        text-align: right;
        padding: 0 5px;
    }
    /*.game_title_box_en.mb_20 p.tx_r.mt_5 {
        margin: 0 10px 10px;
    }*/

    #all_container  {
        width: 100%;
        height: auto;
        line-height: 1.7;
    }
    #all_container:after {
        bottom: -470px;
        background-size: 110%;
    }

    header {
        position: static;
        width: 100%;
        height: 0;
        padding-bottom: 60%;
        background: url(/assets/maitea/header_back-sp.png) top center no-repeat;
        background-size: contain;
        border: none;
/*      background:
            url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/logo.png) center top no-repeat,
            url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/curtain.png) center top repeat-x;
        */
    }

    h2 {
        width: 100%;
        height: 0;
        padding-bottom: 25%;
        background: url(/assets/maitea/title_sp.png) top center no-repeat;
        background-size: contain;
        color: transparent;
        font-size: 0;
        pointer-events: none;
    }

    #contents_wrapper {
        width: 100%;
        margin-top: -60px;
    }

    #main_contents {
        width: 98%;
        height: auto!important;
        margin: 0px auto 0px auto!important;
        padding: 0;


    }

    #sub_menu {
        display: none;

    }

    #sub_menu a,
    #sub_menu span.tx_b {
        display: none!important;
        border: solid 1px #ff0000;
    }

    #sub_menu a,
    .tx_red {
        color: rgba(254,225,5,1.00);
        display: none!important;
    }

    /*ゲームタイトル枠-------------*/

    .game_title_box,
    .game_title_box_en {
        padding-bottom: 23%;
        width: 100%;
        height: 0px;
        padding-top: 1.111%;
        z-index: 10;
        margin-top: -80px;

    }

    .game_title_box p a,
    .game_title_box_en p a {
        display: inline-block;
        margin: 0px auto 0px !important;
        background: #f56d00;
        padding: 0px 15px;
        border-radius: 30px;
        border: solid 2px #f7b83f;
        color: #ffffff;
        box-shadow: 0px 2px 1px 1px rgb(175, 78, 0);
    }

    /*緑枠-------------*/

    .content_box {
        position: relative;
        margin: 0px auto;
        width: 96%;
        border: none;/**/
        border-radius: 7px;
    }

    .content_box h3 {
        text-indent: 1em;
        padding: 10px 20px;
    }
    .content_box h3:before {
        display: none;
/*      top: 8%;
        bottom: 0;
        width: 60px;
        height: 36px;
        background-position: right 30% ;*/
    }

    /*注意事項-----------*/

    #attention_box {
        padding: 2.222% 3.333% 2.222% 3.333%;
        margin: 10px auto ;
        box-sizing: border-box;
        width: 88.889%;
        height: auto;
        overflow: hidden;
        font-size: 16px;
        width: 96%;
    }

    /*フッターー-----------*/

    footer {
        position: relative;
        margin-top: 10%!important;
        width: 100%;
        height: 0px;
    }

    #footer_link {
        box-sizing: border-box;
        width: 100%;
        background: #fff;
        background-size: cover;
        text-align: right;
        font-size: 14px;
        padding: 10px;
    }
    #footer_link p {
        text-align: right;
        width: 100%;
    }
    #copy_right {
        position: relative;
        width: 100%;
        color: #000;
        padding: 30px 0 10px;
        font-size: 12px;
        text-align: center;
        background: #fff;
        /*background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/footerBg_sp.png) center top no-repeat;*/
        background-size: 100%;
    }
    #copy_right > p {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

}


/*ゲームタイトル枠-------------*/
/*両方*/
.game_title_box h3 {
    display: none;
}
.game_title_box .game_title {
    display: none;
}
/*ここまで*/

/*ページ上部へ-----------------*/

.page_up {
    text-align: right;
}


/*白枠-------------*/
.plate_01 {
    background: #fff;
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
    border: 1px solid #333;
}

.plate_01 h4 {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 10px 12px 10px;
    background-color: #ff6b5f;
    background-image: none;
}


/*店舗リスト-----------*/

.store_list {
}

.store_list  li {
    margin: 0px 15px 0px 15px;
    padding: 5px 25px 8px 7px;
    border-bottom: 1px dotted #333;
    color: #000;
}

.store_list  li:last-child {
    border-bottom: none;
}

.store_list .store_name {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.store_list .store_address {
    display: block;
}

.store_list .store_bt {
    display: block;
    width: 100px;
    height: 26px;
    margin-top: 3px;
    margin-left: auto;
}

.store_list .store_bt button {
    display: block;
}

/*店舗情報-----------*/

.access_map {
    width: 100%;
}

.info_list li {
    margin: 0px 15px 0px 15px;
    padding: 10px 5px;
    border-bottom: 1px dotted #333;
    color: #000;
}

.info_list li:last-child {
    border-bottom: none;
}

.title_list li {
    margin: 0px 15px 10px 15px;
    color: #000;
}

/*注意事項-----------*/

#attention_box {
    font-size: 13px;
    border: 2px solid #51bcf3;
    background-color: #ffffff;
    border-radius: 10px;
}

#attention_box p {
    padding-left: 1em;
    text-indent: -1em;
}












/*==========================================================
ボタン
==========================================================*/

/*決定*/
.bt_decision {
    width: 130px;
    height: 30px;
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_decision.png) 0px 0px no-repeat;
}

.bt_decision:hover {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_decision.png) 0px -30px no-repeat;
}

.bt_decision:active {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_decision.png) 0px -30px no-repeat;
}

/*検索*/
.bt_search {
    width: 126px;
    height: 26px;
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_search.png) 0px 0px no-repeat;
}

.bt_search:hover {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_search.png) 0px -26px no-repeat;
}

.bt_search:active {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_search.png) 0px -26px no-repeat;
}

/*詳細*/
.bt_details {
    width: 130px;
    height: 26px;
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/bt_details.png) 0px 0px no-repeat;
}

.bt_details:hover {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/bt_details.png) 0px -26px no-repeat;
}

.bt_details:active {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/bt_details.png) 0px -26px no-repeat;
}

/*戻る*/
.bt_back {
    width: 160px;
    height: 26px;
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_back.png) 0px 0px no-repeat;
}

.bt_back:hover {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_back.png) 0px -26px no-repeat;
    background-size: 160px;
}

.bt_back:active {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/btn_back.png) 0px -26px no-repeat;
}

/*googlemapで見る*/
.bt_google_map {
    width: 196px;
    height: 32px;
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/bt_google_map.png) no-repeat;
    background-size: 196px;
}

.bt_google_map:hover {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/bt_google_map.png) no-repeat;
    background-size: 196px;
    background-position: 0 -32px;
}

.bt_google_map:active {
    background: url(/web/20191027071233im_/https://maimai.sega.jp/img/location_deluxe/bt_google_map.png) no-repeat;
    background-size: 196px;
    background-position: 0 -64px;
}

/*==========================================================
共通
==========================================================*/

/*文字-----------------*/

.tx_b {
    font-weight: bold;
}

.tx_l {
    text-align: left;
}

.tx_c {
    text-align: center;
}

.tx_r {
    text-align: right;
}

.tx_red {
    color: #F00;
}

.tx_blue {
    color: #00F;
}

/*幅(width)-----------------*/

.w_200 {
    width: 200px;
}

.w_270 {
    width: 270px;
}

/*余白(margin)-----------------*/

.m_auto {
    margin: 0 auto;
}

/*top*/
.mt_5 {
    margin-top: 5px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_15 {
    margin-top: 15px;
}

.mt_20 {
    margin-top: 20px;
}

/*right*/
.mr_5 {
    margin-right: 5px;
}

.mr_10 {
    margin-right: 10px;
}

.mr_15 {
    margin-right: 15px;
}

.mr_20 {
    margin-right: 20px;
}

/*bottom*/
.mb_5 {
    margin-bottom: 5px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_20 {
    margin-bottom: 30px;
}

.mb_30 {
    margin-bottom: 30px;
}


#sub_menu a {
    text-indent: -9999px;
}

/*
     FILE ARCHIVED ON 07:12:33 Oct 27, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:20:22 Aug 28, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.326
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.022
  esindex: 0.007
  cdx.remote: 14.036
  LoadShardBlock: 200.387 (3)
  PetaboxLoader3.resolve: 90.793 (2)
  PetaboxLoader3.datanode: 97.276 (4)
  load_resource: 126.45
*/