@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    margin-top: 10%;
    background-color: #282828;
}

a {
    color: #7289da;
    text-decoration: none;
}

#friend-code {
    display: inline-block;
    background-color: #383838;
    padding: 15px;
    font-size: 2em;
    border-radius: 10px;
}

#friend-code span {
    font-size: 0.78em;
    color: #d7d7d7;
}
