.icon-1 {
    background: url('/assets/guide/icon-1.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-2 {
    background: url('/assets/guide/icon-2.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-3 {
    background: url('/assets/guide/icon-3.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-4{
    background: url('/assets/guide/icon-4.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-5 {
    background: url('/assets/guide/icon-5.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-6 {
    background: url('/assets/guide/icon-6.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-7 {
    background: url('/assets/guide/icon-7.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-8 {
    background: url('/assets/guide/icon-8.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-9 {
    background: url('/assets/guide/icon-9.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-10 {
    background: url('/assets/guide/icon-10.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-11 {
    background: url('/assets/guide/icon-11.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}

.icon-12 {
    background: url('/assets/guide/icon-12.png');
    height: 32px;
    width: 30px;
    display: block;
    align-items: left;
}