@font-face {
    font-family: nintendo_NTLG;
    src: url(/assets/nintendo_NTLG.woff),
    url(/assets/nintendo_NTLG.woff2);
}

@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css");

body {
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: nintendo_NTLG;
    font-size: 16px;

    font-weight: normal !important;
}

.about {
    position:relative;
    
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
}

.center {
    text-align: center;
}

.pfparea {
    position: relative;
    
    align-items: center;
    text-align: center;

    padding-top: 4%;
}
.pfp {
    border-radius: 5px;
    width: 170px;
}

.container {
    display: flex;
    background-color: #FFFFFF40;
    padding: 3%;
    border-radius:10px;  

    width:580px;
    height:250px;
    left:50%;
    top:40%;
    transform:translate(-50%,-50%);
    position:absolute;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF20;
    border-radius:5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.flexbutton {
    background-color: #FFFFFF00;
    border:none;
    font-size: 22px;
    padding: 5px;
    width: 50px;
}

.flexbutton:hover {
    background-color: #FFFFFF90;
}

.sitebutton:hover {
    background-color: #FFFFFF90;
}
