@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    background-color: rgb(42, 42, 104);
    color: white;

    font-family: 'Ubuntu Mono', monospace;

    padding-left: 3%;
    padding-top: 3%;
}

a {
    color: rgb(202, 202, 202);
    text-decoration: none;
}

blank {
    color: rgb(42, 42, 104)
}