@font-face {
    font-family: nintendo_NTLG;
    src: url(/assets/CAFESTD.woff),
    url(/assets/CAFESTD.woff2);
}

body {
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    font-family: nintendo_NTLG;
    font-size: 16px;

    padding-left: 25%;
    padding-right: 25%;
    padding-top: 12%;
}

html, body {
    height: 100%;
}

section {
    padding: 5px;
    padding-right: 10%
}

article {
    padding: 1%;
    text-align: center;
}

img {
    border-radius:10px;
}

.container {
    background-color: #FFFFFF40;
    padding: 5%;
    border-radius:10px;  
}

.sitebutton {
    padding: 5px;
    background-color: #FFFFFF40;
    border:none;
    text-align:center;
    width: 30%;
    height: 20%;
    border-radius:5px;
    font-size: 16px;
    font-family: nintendo_NTLG;
}


.flexcontainer {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF20;
    border-radius:5px;
    padding-top: 50%;
    padding-bottom: 50%;
}

.flexbutton {
    background-color: #FFFFFF00;
    border:none;
    font-size: 16px;
    font-family: nintendo_NTLG;
    padding: 5px;
    width: 50px;
    
}

.flexbutton:hover {
    background-color: #FFFFFF90;
}

.sitebutton:hover {
    background-color: #FFFFFF90;
}

.buttondiv {
    padding-top: 10%;
    text-align: center;
}
