.ptable {
    padding: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.ptable h1, .ptable p, .ptable li, .ptable h2, .ptable h3, .ptable h4, .ptable h5 {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ptable a {
    color: #01cb2b;
}


.ptable table {
    border-collapse: collapse;
    width: 80%;
    font-size: 24px;
    margin-left: 20%;
}
  
.ptable td, th {
    text-align: left;
    padding: 15px;
    border: 3px solid #000;
}

.ptable th {
    background-color: #111;
    font-size: 28px;
}

.ptable tr {
    background-color: #222;
}

.ptable table {
    color: white
}

.services {
    display: flex;
    justify-content: center;
}

.service {
    width: 40%;
    margin: 5px;
}

.publicly-available {
    background-color: rgb(48, 176, 46);
    padding: 10px;
}

.not-started {
    background-color: rgb(184, 17, 17);
    padding: 10px;
}

.private-beta {
    background-color: rgb(24, 120, 190);
    padding: 10px;
}

.in-development {
    background-color: rgb(201, 103, 44);
    padding: 10px;
}