@font-face {
    font-family: diva_font;
    src: url(/assets/nintendo_NTLG.woff),
    url(/assets/nintendo_NTLG.woff2);
}

@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css");

body {
    background-image: url('/assets/sekai.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: diva_font;
    font-size: 16px;
}

.content {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 12%;

    text-align: center;

    font-weight: normal !important;
}

/* Work Icons */
.icon-yt {
  background: url('/assets/vocaloid/icon-yt.png');
  display: block;
  align-items: left;
  width:20px;height:20px;background-size:cover;
}

.icon-nn {
  background: url('/assets/vocaloid/icon-nn.png');
  display: block;
  align-items: left;
  width:20px;height:20px;background-size:cover;
}


/* Work Items */

.worktable {
  width: 100%;
}
.workitem {
  background-color: #ffffff6e;
  border-radius: 10px;

  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.371);
  
  padding: 10px;
}
.links {
  width: 100%;
}
#youtube {
  color: rgb(163, 46, 46);
  padding-left: 50px;
}
#niconico {
  color: rgb(33, 99, 33);
  float:right;
  padding-right: 50px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff6e;
    overflow: hidden;
    border-radius: 10px;

    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.371);
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #272727;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eaeaea6e;
  color: black;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
/* Hover colours */
#red:hover {
  background-color: #ff19196e;
  color: white;
}
#black:hover {
  background-color: #1717176e;
  color: white;
}
#blue:hover {
  background-color: #1994ff6e;
  color: white;
}