/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    background-image: url("bg.png");
    background-color: #36393f;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100% !important;
}

canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
}

div.userbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 600px;
    height: 170px;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    background-color: #292c31;
    box-sizing: content-box;
    box-shadow: 10px 10px 10px #24272b;
}

div.picturebox {
    float: left;
    width: 27%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

div.picturebox img {
    width: 100%;
    border-radius: 50%;
    transform: translateX(25%);
}

div.userboxtext {
    float: right;
    width: 62%;
    padding: 37px 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: #eeeeee;
    box-sizing: border-box;
}

div.userboxtext h2 {
    margin: 0;
    color: #b6b6b6;
}

div.userboxtext h1 {
    margin: 0;
}

@media only screen and (max-width: 1010px) {
    div.userboxtext {
        font-size: 17px;
    }
}

@media only screen and (max-width: 550px) {

    div.userbox {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    div.picturebox {
        float: none;
        top: 0;
        transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        width: 150px;
        text-align: center;
        margin: 5px auto auto;
    }

    div.picturebox img {
        border-radius: 50%;
    }

    div.userboxtext {
        float: none;
        width: 100%;
        text-align: center;
        margin-left: 0;
        font-size: 17px;
        padding: 20px 0;
        padding-bottom: 10px;
    }

}