<div id="main" class="container is-widescreen sidebar has-text-left">
    <div id="logo-window" class="hero-body has-shading">
        <a href="/"><img src="/assets/square.png" alt="oscie" style="width: 200px; min-width: 10px; vertical-align: middle;"></a>
    </div>
    
    <div class="has-text-black" style="min-width: 400px; max-width: 600px">
        <div class="block">
            <h1 class="title is-4"><a href="/home" class="has-text-black link"><span class="mdi mdi-home"></span> back to oscie.net</a></p>
            <h1 class="title is-4"><a href="/fun/games" class="has-text-black link"><span class="mdi mdi-gamepad"></span> game recommendations</a></p>
        </div>

        <div class="block">
            <h2 class="title is-5"><a href="//steamcommunity.com/id/oscie57" class="has-text-black link"><span class="mdi mdi-steam"></span> my steam account</a></p>     
            <h2 class="title is-5"><a href="/support" class="has-text-black link"><span class="mdi mdi-currency-usd"></span> support me/donate</a></p>
        </div>

        <span class="mdi mdi-music" id="musiclabel"> music</span> &mdash; <a href="//youtube.com" id="linklabel"> youtube</a>
    </div>
</div>

<script>
if (!(window.performance.navigation.type == 1)) {
    const clickwav = new Audio("/assets/click.wav");
    clickwav.play();  
}
</script>