<div class="nav">
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/fc">Friend Codes</a></li>
        <li><a href="/support">Support Me</a></li>
        <li><a href="/themes">3DS Themes</a></li>
    </ul>
  
    <em>Related Links</em>
    <ul>
        <li><a href="https://github.com/oscie57/site-root">Source Code</a></li>
        <li><a href="https://oscie.net/arcade.html">Arcade Logs</a></li>
        <li><a href="https://ecdp.oscie.net/">eCDP Guide for Wii U</a></li>
    </ul>

    <hr />
  
    <em>Social Media</em>
    <ul>
        <li><a href="mailto:me@oscie.net">Mail</a></li>
        <li><a href="https://twitter.com/oscie57">Twitter</a></li>
        <li><a href="https://github.com/oscie57">GitHub</a></li>
        <li><a href="https://youtube.com/@oscie">YouTube</a></li>
        <li><a href="https://lethallava.land/@oscie">Fediverse</a></li>
    </ul>
</div>
