<div class="right">
    <div class="visitor-count">
        <span id="count">00000</span> views
    </div>

    <br />

    <div class="uptime-timer">
        <span id="uptime">100</span>% Uptime
        <a href="https://stats.uptimerobot.com/MVW7JT2KyW">View Details</a>
    </div>

    <hr />

    <span class="webring">
        <a href="https://hotlinewebring.club/oscie/previous"><--</a> <a href="https://hotlinewebring.club/" style="color: black">hotline webring</a> <a href="https://hotlinewebring.club/oscie/next">--></a>
    </span>
</div>