body {
    font-family: serif;
    background-color: #8be278;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
}

.layout-top {
    display: flex;
    flex-direction: row;

    background-color: #20ad00;
}
.layout-middle {
    display: flex;
    flex-direction: row;
}
.layout-bottom {
    align-items: center;
    text-align: center;

    background-color: #20ad00;
}

.nav-container {
    max-width: 160px;
    width: 100%;

    background-color:#27d300;
}
.content-container {
    flex-grow: 1;

    background-color: #66e64a;
}
.right-container {
    max-width: 160px;
    width: 100%;

    background-color:#69d651;
}

.icon {
    max-width: 160px;
    max-height: 160px;
}
.photo {
    max-width: 150px;
    max-height: 150px;
}
.top-text {
    margin: auto;
    margin-left: 5%;
    font-weight: bold;
}

.nav, .foot, .right {
    margin: 5px;
}
.content {
    margin: 10px;
}


/*
FRIEND CODE
*/
#friend-code {
    color: white;
    display: inline-block;
    background-color: #383838;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 4px;
}

#friend-code span {
    font-size: 0.78em;
    color: #d7d7d7;
}


/*
SUPPORT ME
*/


/*
THEMES
*/
.theme {
    background-color: #5cb85c;
    color: white;

    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 4px;

    width: max-content;
}
.theme-photo {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}
.theme-text {
    flex-direction: column;
    margin: 30px;

    flex-grow: 1;
    width: max-content;
}