<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/anim.css"><!--
        <link rel="stylesheet" href="css/table.css">
        -->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="no thoughts, head empty">
        <meta property="og:image" content="https://oscie.net/assets/square.png">
    </head>

    <body>
        <section class="hero is-fullheight">
            <div id="main-wrapper" class="hero-body">
              
                {% include funbar.html %}

                <div id="main" class="container is-widescreen has-left-left">
                    <audio src="/assets/mcd.mp3" autoplay loop id="songauto">
                        if you see this, your browser does not support the audio element.
                    </audio>

                    <div class="has-text-black">
                        {{ content }}
                    </div>
                </div>

                {% include donate.html %}
                {% include footer.html %}
            </div>
        </section>
    </body>
</html>

<script>
const songlist = [
    ["/assets/funmusic/bye_001.mp3", "bay", "//www.youtube.com/watch?v=NMUhkxMC3zk"],
    ["/assets/funmusic/bye_012.mp3", "elle's reprise", "//www.youtube.com/watch?v=pLmkvY7jTrI"],
    ["/assets/funmusic/omori_005.mp3", "by your side", "//www.youtube.com/watch?v=7GIWV__qx4M"]
];

const song = songlist[Math.floor(Math.random()*songlist.length)]

const musiclabel = document.getElementById("musiclabel");
musiclabel.innerHTML = " " + song[1];

const linklabel = document.getElementById("linklabel");
linklabel.href = song[2];

const songauto = document.getElementById("songauto");
songauto.src = song[0]
songauto.volume = 0.1;
songauto.play();
</script>