<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/anim.css"><!--
        <link rel="stylesheet" href="css/table.css">
        -->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="no thoughts, head empty">
        <meta property="og:image" content="//oscie.net/assets/square.png">
    </head>

    <body>
        <section class="hero is-fullheight">
            <div id="main-wrapper" class="hero-body">
              
                {% include sidebar.html %}

                <div id="main" class="container is-widescreen has-left-left">
                    <div class="has-text-black">
                        {{ content }}
                    </div>
                </div>

                {% include footer.html %}
            </div>
        </section>
    </body>
</html>