<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="no thoughts, head empty">
        <meta property="og:image" content="https://oscie.net/assets/logo.png">
    </head>

    <body>
        <section class="hero is-fullheight">
            <div id="main-wrapper" class="hero-body">
              
                {% include header.html %}

                <div id="main" class="container is-widescreen has-left-left">
                  {{ content }}
                </div>

            </div>
        </section>
    </body>
</html>